* {
  margin: 0;
  padding: 0;
}
body {
 padding: 2rem;
  font-size: 1.5rem;
  background-color: rgb(224, 153, 245);
}

.form {
    text-align: left;
  height: 700px;
  width: 900px;
  margin: 0px auto 0px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 2px 2px 10px blueviolet;
}
button{
    height: 2rem;
    width: 12rem;
    border: 2px solid rgb(70, 165, 11);
    background-color: snow;
    border-radius: 15px;
    font-size: 22px;
    margin-top: 20rem;
    margin-left: 40rem;

}
button:hover{
    background-color: rgba(142, 235, 88, 0.592);
}
input{
    height: 1.5rem;
    width: 30rem;
   margin-left: 5rem;
   border-radius: 7px;
   padding-left: 1rem;
}
.info{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
   
}
.one,.two{
    display: flex;
    flex-direction: column;
}
select{
  height: 2rem;
  width: 30rem;
}